/* for mobile responsive */
@media (max-width: 768px) {
  .image-container {
    flex: 3 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
    display: none;
  }
  .tab-btn {
    justify-content: space-evenly;
  }
  .right-aside {
    display: none;
  }

  .login-footer-page {
    width: 100vw;
    position: unset;
    margin-left: unset;
  }

  .login-footer-page > ul > li > a {
    color: black;
  }
}
/* mobile responsive end here */
/* for 90 percents screen view */
@media (min-width: 1300px) {
  .tab-btn {
    justify-content: space-evenly;
    /* padding: 0 28px 0px 28px; */
  }
}
/* for 80 %  screen view*/
@media (min-width: 1600px) {
  .celebrity-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 24px 0px 14px;
  }
}
/* for 75 %  screen view*/
@media (min-width: 1700px) {
  .tab-btn {
    justify-content: space-evenly;
    padding: 0 28px 0px 28px;
  }
  .w-124 {
    width: 124px !important;
  }
  .mx-1-75 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
}
/* for 65 %  screen view*/
@media (min-width: 1367px) {
  .landing-head h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 1119px) {
  button.tab-btn-signin {
    padding: 10px 36px;
    font-size: 16px;
  }
  button.tab-btn-signup {
    padding: 10px 40px;
    font-size: 16px;
  }
}
@media (min-width: 1100px) {
  .login-footer-page {
    width: 62vw;
    margin-left: 5vw;
  }
}

.tab-btn {
  justify-content: space-around;
}
